<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1 node-type-panopoly-page region-content" >
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-311226-49', 'mediathread.info');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

	{{ partial "nav.html" . }}
<div class="container" id="contain">
<div id="page-wrapper">
	<div id="page">


  <!-- Page Main -->
  <div id="main-wrapper" class="clearfix"><div id="main" class="clearfix">
    <div id="content" class="column container"> 
      <a id="main-content"></a>
      
      
      
      <div class="panel-flexible panels-flexible-mediathread_tour_page clearfix" id="page-page">
<div class="panel-flexible-inside panels-flexible-mediathread_tour_page-inside">
<div class="panels-flexible-row panels-flexible-row-mediathread_tour_page-28 panels-flexible-row-first clearfix ">
  <div class="inside panels-flexible-row-inside panels-flexible-row-mediathread_tour_page-28-inside panels-flexible-row-inside-first clearfix">
<div class="panels-flexible-region panels-flexible-region-mediathread_tour_page-header_row panels-flexible-region-first panels-flexible-region-last ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-mediathread_tour_page-header_row-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
      <div class="panel-pane pane-node-title about-title" style="background: url('{{ .Site.BaseURL }}images/{{ .Params.backgroundimage }}')" >
  
      
  
  <div class="pane-content">
	  <h1><a href="/content/about-mediathread" class="active">{{ .Title }}</a></h1>
  </div>

  
  </div>
  </div>
</div>
  </div>
</div>
  	{{ .Content }}    
 </div>
      </div>
    </div> <!-- /.section, /#content -->

  </div></div> <!-- /#main, /#main-wrapper -->



</div></div> 

<div class="clearfooter"></div>
</div><!-- /#page, /#page-wrapper -->
<!-- /.container -->

