<!-- Page Footer -->
  <footer class='section' id='footerlower' role='contentinfo'>
    <div class='container'>
      <div class='row-fluid'>
        <div class="col-xs-3"><a href="https://ctl.columbia.edu" target="_blank"><img id="footerlogo" src="/images/logo-ctl-white.png" width="200"></a></div>
        <div class="col-xs-9 credit">&copy; Columbia Center for Teaching and Learning</div>
      </div>
    </div>
  </footer>
<!-- JS for cookie policy -->
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>    
</body>
