<!-- Page Footer -->
  <footer class='section' id='footerlower' role='contentinfo'>
    <div class='container'>
      <div class='row-fluid'>
        <div class="col-xs-3"><a href="http://ccnmtl.columbia.edu" target="_blank"><img id="footerlogo" src="/sites/default/files/logo_ccnmtl_white.png" width="200"></a></div>
        <div class="col-xs-9 credit">&copy; Columbia Center for New Media Teaching and Learning 2010-2014</div>
      </div>
    </div>
  </footer>
  <!-- <script type="text/javascript" src="http://mediathread.info/sites/default/files/js/js_XpJuEKzwvbEEeDS1Lpt_uOwmb3E94ioLvpFlps8O3rA.js"></script> -->

