<body class="html front not-logged-in no-sidebars page-home region-content" >
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-311226-49', 'mediathread.info');
  ga('send', 'pageview');

</script>
	{{ partial "nav.html" . }}
<div class="container" id="contain">
	<div id="page-wrapper">
		<div id="page">
			<div id="main-wrapper" class="clearfix"><div id="main" class="clearfix">
   				<div id="content" class="column home">
<a id="main-content"></a>
  <div id="tabs" class="container home">
  </div>
  
  
  
  
  
<div class="panel-display rolph clearfix " >

  <section class='section alt' id='promo'>
    <div class='container'>
      <div class="rolph-container rolph-header clearfix panel-panel ">
        <div class="rolph-container-inner rolph-header-inner panel-panel-inner">
          <div class="panel-pane pane-fieldable-panels-pane pane-fpid-3 home-intro-text pane-bundle-text" >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><h1>Collect, annotate, and share images, videos, and audio with Mediathread.</h1></div></div></div></div>
  </div>

  
  </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class='section'>
    <div class='container'>         
      <div class="rolph-container rolph-quarter-content clearfix row-fluid">
        <div class="rolph-column-content-region rolph-quarter1 rolph-quarter panel-panel span3">
          <div class="rolph-column-content-region-inner rolph-quarter1-inner rolph-quarter-inner panel-panel-inner">
            <div class="panel-pane pane-fieldable-panels-pane pane-fpid-43 home-block1 pane-bundle-text" >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img height="227" width="303" class="media-element file-default" src="http://mediathread.columbia.edu/sites/default/files/shakespearemeth_1.jpg" alt="" title="" /></p>
<p><a href="/node/1">Learn about Mediathread</a></p>
</div></div></div></div>
  </div>

  
  </div>
          </div>
        </div>
        <div class="rolph-column-content-region rolph-quarter2 rolph-quarter panel-panel span3">
          <div class="rolph-column-content-region-inner rolph-quarter2-inner rolph-quarter-inner panel-panel-inner">
            <div class="panel-pane pane-fieldable-panels-pane pane-fpid-45 home-block2 pane-bundle-text" >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img height="213" width="285" class="media-element file-default" src="http://mediathread.columbia.edu/sites/default/files/home-block-020413.png" alt="" title="" /></p>
<p><a href="/node/11">View Use Cases</a></p>
</div></div></div></div>
  </div>

  
  </div>
          </div>
        </div>
        <div class="rolph-column-content-region rolph-quarter3 rolph-quarter panel-panel span3">
          <div class="rolph-column-content-region-inner rolph-quarter3-inner rolph-quarter-inner panel-panel-inner">
            <div class="panel-pane pane-fieldable-panels-pane pane-fpid-48 home-block3 pane-bundle-text" >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img height="213" width="284" class="media-element file-default" src="http://mediathread.columbia.edu/sites/default/files/home-block-020413_3_0.png" alt="" title="" /></p>
<p><a href="/node/34">Get Involved</a></p>
</p>
</div></div></div></div>
  </div>

  
  </div>
          </div>
        </div>
        <div class="rolph-column-content-region rolph-quarter4 rolph-quarter panel-panel span3">
          <div class="rolph-column-content-region-inner rolph-quarter4-inner rolph-quarter-inner panel-panel-inner">
            <div class="panel-pane pane-fieldable-panels-pane pane-fpid-57 home-started-button pane-bundle-text" >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><a href="/node/4">Get started with Mediathread</a></p>
</div></div></div></div>
  </div>

  
  </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
   <footer class='section' id='footer' role='contentinfo'>
    <div class='container'>       
      <div class="rolph-container rolph-footer clearfix panel-panel">
        <div class="rolph-container-inner rolph-footer-inner panel-panel-inner">
          <div class="panel-pane pane-views-panes pane-mediathread-news-panel-pane-1 mediathread-news" >
  
      
  
  <div class="pane-content">
    <div class="view view-mediathread-news view-id-mediathread_news view-display-id-panel_pane_1 view-dom-id-3e8c9953c07373faee4a8051ad84a34d">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-title-1">        <span class="field-content">Summer 2016 Updates</span>  </div>  
  <div class="views-field views-field-url-1">        <span class="field-content"></span>  </div>  
  <div class="views-field views-field-created">        <span class="field-content">September 1, 2016</span>  </div>  
  <div class="views-field views-field-field-feed-item-description">        <div class="field-content">Columbia courses can now self-register their courses each semester(Columbia University only). Instructors in each course can now manage members in their course by promoting them to instructors or downgrading them to students.  Instructors can add individuals to their course using a single or bulk adding users.  The Mediathread login experience has been improved with a more organized course list view and home navigation.</div>  </div>  
  <div class="views-field views-field-url">        <span class="field-content read-more"></span>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-title-1">        <span class="field-content">Spring 2016 Updates to Mediathread</span>  </div>  
  <div class="views-field views-field-url-1">        <span class="field-content"></span>  </div>  
  <div class="views-field views-field-created">        <span class="field-content">May 31, 2016</span>  </div>  
  <div class="views-field views-field-field-feed-item-description">        <div class="field-content">The Mediathread team upgraded the composition editor using TinyMCE to allow for a better editing experience. The application updates contain improvements on web interoperability and works better with various web media sites like Vimeo. As well, the tool is now LTI compliant.</div>  </div>  
  <div class="views-field views-field-url">        <span class="field-content read-more"></span>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd views-row-last">
      
  <div class="views-field views-field-title-1">        <span class="field-content">Mediathread updates increase interoperability</span>  </div>  
  <div class="views-field views-field-url-1">        <span class="field-content"><a href="http://ctl.columbia.edu/2015/11/05/mediathread-updates-increase-interoperability/"><h3>Mediathread updates increase interoperability</h3></a></span>  </div>  
  <div class="views-field views-field-created">        <span class="field-content">November 5, 2015</span>  </div>  
  <div class="views-field views-field-field-feed-item-description">        <div class="field-content">The Center for Teaching and Learning (CTL) has just released a mid-semester update for Mediathread, the collaborative multimedia analysis platform used in hundreds of courses at Columbia as well as at other universities.</div>  </div>  
  <div class="views-field views-field-url">        <span class="field-content read-more"><a href="http://ctl.columbia.edu/2015/11/05/mediathread-updates-increase-interoperability/">Read More</a></span>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
<div class="panel-separator"></div><div class="panel-pane pane-views-panes pane-tweets-panel-pane-1 mediathread-tweets" >
  
      
  
  <div class="pane-content">
    <div class="view view-tweets view-id-tweets view-display-id-panel_pane_1 tweeting view-dom-id-f72e01a7a74031f380868ff4d7fd37d4">
            <div class="view-header">
      <a href="http://twitter.com/mediathreadinfo" target="_blank">@mediathreadinfo on twitter</a>    </div>
  
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-screen-name">        <span class="field-content">Lucyappert</span>  </div>  
  <div class="views-field views-field-created-time">        <span class="field-content"><em class="placeholder">2 weeks 5 days</em> ago</span>  </div>  
  <div class="views-field views-field-text">        <span class="field-content">The <a target="_blank" rel="nofollow" href="http://twitter.com/ColumbiaCTL">@ColumbiaCTL</a> <a target="_blank" rel="nofollow" href="http://twitter.com/mediathreadinfo">@mediathreadinfo</a> team's Fall release has great new admin features for their media annotation tool: <a target="_blank" rel="nofollow" href="https://t.co/ir06Ugs23j">https://t.co/ir06Ugs23j</a></span>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-screen-name">        <span class="field-content">pch9857</span>  </div>  
  <div class="views-field views-field-created-time">        <span class="field-content"><em class="placeholder">3 months 1 day</em> ago</span>  </div>  
  <div class="views-field views-field-text">        <span class="field-content">Had a blast presenting on <a target="_blank" rel="nofollow" href="http://twitter.com/mediathreadinfo">@mediathreadinfo</a> at <a target="_blank" rel="nofollow" href="http://search.twitter.com/search?q=%23itsi16">#itsi16</a> today, and ESPECIALLY loved watching the "surprise" happen! <a target="_blank" rel="nofollow" href="https://t.co/4hW0PBLfn4">https://t.co/4hW0PBLfn4</a></span>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-screen-name">        <span class="field-content">gone2space</span>  </div>  
  <div class="views-field views-field-created-time">        <span class="field-content"><em class="placeholder">3 months 2 days</em> ago</span>  </div>  
  <div class="views-field views-field-text">        <span class="field-content">Wowed by the power of <a target="_blank" rel="nofollow" href="http://twitter.com/mediathreadinfo">@mediathreadinfo</a> ! The utilities for course assignments seem endless! <a target="_blank" rel="nofollow" href="http://search.twitter.com/search?q=%23musictomyears">#musictomyears</a> <a target="_blank" rel="nofollow" href="http://search.twitter.com/search?q=%23itsi16">#itsi16</a></span>  </div>  </div>
  <div class="views-row views-row-4 views-row-even views-row-last">
      
  <div class="views-field views-field-screen-name">        <span class="field-content">clayfox</span>  </div>  
  <div class="views-field views-field-created-time">        <span class="field-content"><em class="placeholder">3 months 2 days</em> ago</span>  </div>  
  <div class="views-field views-field-text">        <span class="field-content">What links Haydyn to Miley Cyrus in <a target="_blank" rel="nofollow" href="http://twitter.com/pch9857">@pch9857</a>'s Music Hum class? Musical surprises, documented &amp; deconstructed in <a target="_blank" rel="nofollow" href="http://twitter.com/mediathreadinfo">@mediathreadinfo</a> <a target="_blank" rel="nofollow" href="http://search.twitter.com/search?q=%23itsi16">#itsi16</a></span>  </div>  </div>
    </div>
  
  <!-- Twitter feed -->
              <a class="twitter-timeline"  href="https://twitter.com/search?q=%40mediathreadinfo" data-widget-id="780511328733687810">Tweets about @mediathreadinfo</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   <!-- end of twitter feed -->
  
  
  
      <div class="view-footer">
      <a href="http://twitter.com/mediathreadinfo" target="_blank">Follow @mediathreadinfo</a>    </div>
  
  
</div>  </div>

  
  </div>
        </div>
      </div>
    </div>
  </footer>
    
</div><!-- /.rolph -->

					</div> <!-- /.section, /#content -->
				</div>
  			</div> <!-- /#main, /#main-wrapper -->
		</div>
	</div>
<div class="clearfooter"></div> 
</div>

