<body class="html front not-logged-in no-sidebars page-home region-content" >
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-311226-49', 'mediathread.info');
ga('send', 'pageview');

    </script>
    {{ partial "nav.html" . }}
    <div class="container" id="contain">
        <div id="page-wrapper">
            <div id="page">
                <div id="main-wrapper" class="clearfix"><div id="main" class="clearfix">
                        <div id="content" class="column home">
                            <a id="main-content"></a>
                            <div id="tabs" class="container home">
                            </div>
                            <div class="panel-display rolph clearfix " >
                                <section class='section alt' id='promo'>
                                    <div class='container'>
                                        <div class="rolph-container rolph-header clearfix panel-panel ">
                                            <div class="rolph-container-inner rolph-header-inner panel-panel-inner">
                                                <div class="panel-pane pane-fieldable-panels-pane pane-fpid-3 home-intro-text pane-bundle-text" >
                                                    <div class="pane-content">
                                                        <div class="fieldable-panels-pane">
                                                            <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><h1>Collect, annotate, and share images, videos, and audio with Mediathread.</h1></div></div></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class='section'>
                                    <div class='container'>         
                                        <div class="rolph-container rolph-quarter-content clearfix row-fluid">
                                            <div class="rolph-column-content-region rolph-quarter1 rolph-quarter panel-panel span3">
                                                <div class="rolph-column-content-region-inner rolph-quarter1-inner rolph-quarter-inner panel-panel-inner">
                                                    <div class="panel-pane pane-fieldable-panels-pane pane-fpid-43 home-block1 pane-bundle-text" >
                                                        <div class="pane-content">
                                                            <div class="fieldable-panels-pane">
                                                                <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img height="213" width="285" class="media-element file-default" src="http://mediathread.columbia.edu/sites/default/files/shakespearemeth_1.jpg" alt="" title="" /></p>
                                                                            <p><a href="/node/1">Learn about Mediathread</a></p>
                                                                        </div></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rolph-column-content-region rolph-quarter2 rolph-quarter panel-panel span3">
                                                <div class="rolph-column-content-region-inner rolph-quarter2-inner rolph-quarter-inner panel-panel-inner">
                                                    <div class="panel-pane pane-fieldable-panels-pane pane-fpid-45 home-block2 pane-bundle-text" >
                                                        <div class="pane-content">
                                                            <div class="fieldable-panels-pane">
                                                                <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img height="213" width="285" class="media-element file-default" src="http://mediathread.columbia.edu/sites/default/files/home-block-020413.png" alt="" title="" /></p>
                                                                            <p><a href="/node/11">View Use Cases</a></p>
                                                                        </div></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rolph-column-content-region rolph-quarter3 rolph-quarter panel-panel span3">
                                                <div class="rolph-column-content-region-inner rolph-quarter3-inner rolph-quarter-inner panel-panel-inner">
                                                    <div class="panel-pane pane-fieldable-panels-pane pane-fpid-48 home-block3 pane-bundle-text" >
                                                        <div class="pane-content">
                                                            <div class="fieldable-panels-pane">
                                                                <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img height="213" width="284" class="media-element file-default" src="http://mediathread.columbia.edu/sites/default/files/home-block-020413_3_0.png" alt="" title="" /></p>
                                                                            <p><a href="/node/34">Get Involved</a></p>
                                                                            </p>
                                                                        </div></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rolph-column-content-region rolph-quarter4 rolph-quarter panel-panel span3">
                                                <div class="rolph-column-content-region-inner rolph-quarter4-inner rolph-quarter-inner panel-panel-inner">
                                                    <div class="panel-pane pane-fieldable-panels-pane pane-fpid-57 home-started-button pane-bundle-text" >
                                                        <div class="pane-content">
                                                            <div class="fieldable-panels-pane">
                                                                <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><a href="/node/4">Get started with Mediathread</a></p>
                                                                        </div></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <footer class='section' id='footer' role='contentinfo'>
                                    <div class='container'>       
                                        <div class="rolph-container rolph-footer clearfix panel-panel">
                                            <div class="rolph-container-inner rolph-footer-inner panel-panel-inner">
                                                <div class="panel-pane pane-views-panes pane-mediathread-news-panel-pane-1 mediathread-news" >
                                                    <div class="pane-content">
                                                        <div class="view view-mediathread-news view-id-mediathread_news view-display-id-panel_pane_1 view-dom-id-3e8c9953c07373faee4a8051ad84a34d">
                                                            <div class="view-content"></div>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-views-panes pane-tweets-panel-pane-1 mediathread-tweets" >
                                                    <div class="pane-content">
                                                        <div class="view view-tweets view-id-tweets view-display-id-panel_pane_1 tweeting view-dom-id-f72e01a7a74031f380868ff4d7fd37d4">
                                                            <!-- Twitter feed -->
                                                            <a class="twitter-timeline" data-height="700" href="https://twitter.com/mediathreadinfo">Tweets by mediathreadinfo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                                            <!-- end of twitter feed -->
                                                        </div>  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </footer>

                            </div><!-- /.rolph -->

                        </div> <!-- /.section, /#content -->
                    </div>
                </div> <!-- /#main, /#main-wrapper -->
            </div>
        </div>
        <div class="clearfooter"></div> 
    </div>

