<div id="wide-menu">
<div class="container">
  <header id='masthead'>
    <div class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
          </div><!-- end .navbar-header -->
          
          
                    <div class="collapse navbar-collapse">
                 <div class="brand">
            <a href="/" title="Home" rel="home" id="logo">
              <img src="http://mediathread.info/sites/default/files/menu-logo.png" alt="Home" />
            </a>
         </div>
          
                <h2 class="element-invisible">Main menu</h2><ul class="inline nav navbar-nav" id="main-menu"><li class="1018 first active"><a href="/" class="active">Home</a></li>
<li class="1078 dropdown clearfix"><a href="/content/about-mediathread">About</a><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a><ul class="dropdown-menu"><li class="1072 first"><a href="/content/about-mediathread">About Mediathread</a></li>
<li class="1137"><a href="/content/watch-video">Watch the Video</a></li>
<li class="1135"><a href="/content/cases-columbia">Cases</a></li>
<li class="1084 last"><a href="/content/research">Research</a></li>
</ul></li>
<li class="1021 active dropdown clearfix"><a href="/" class="active">Get Started</a><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a><ul class="dropdown-menu"><li class="1129 first"><a href="http://mediathread.ccnmtl.columbia.edu">Sign in @ Columbia</a></li>
<li class="1144 last"><a href="/content/request-access">Request Access</a></li>
</ul></li>
<li class="1023 active dropdown clearfix"><a href="/" class="active">Get Involved</a><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a><ul class="dropdown-menu"><li class="1102 first"><a href="/content/collections">Collection Providers</a></li>
<li class="1142"><a href="/content/developers">Developers</a></li>
<li class="1140"><a href="/content/funders">Funders</a></li>
<li class="1082 last"><a href="/content/instructors">Instructors</a></li>
</ul></li>
<li class="1130 last"><a href="/content/faq">FAQ</a></li>
</ul>                </div><!--/.nav-collapse -->
                    <div class='nav-collapse collapse'>
                            <h2 class="element-invisible">Secondary menu</h2><ul id="secondary-menu-links" class="links inline clearfix nav pull-right"><li class="menu-651 first last"><a href="/user/login">Log in</a></li>
</ul>                      </div><!--end nav-collapse collapse -->
    </div><!-- end .navbar navbar-inverse navbar-fixed-top-->
 
  </header>
</div><!-- end .container -->
</div><!-- end #wide-menu -->


